header {
    background-image: url("../images/hamburger-week.jpg");
    background-size:cover;
    background-position: 0px 40%;
    height: 70vh;
    margin: 0px;
}
.recipe.blue-bg {
    padding: 25px 50px;
}
.time .time-info {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    max-width: 700px;
}
.time span {
    font-weight: 700;
}