@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --yellow: #f8a434;
    --black: #000;
}
html, body {
    margin: 0;
    font-family: "Outfit", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: var(--yellow);
    padding: 10px 75px;
}
nav img {
    height: 100%;
}
nav a {
    text-decoration: none;
    color: var(--black);
}
nav div{
    display: flex;
    gap: 25px;
}

header {
    background-image: url("../images/hero-image.jpg");
    height: 475px;
    padding: 50px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: end;
}
header h1{
    background-color: white;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 800;
}