@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --yellow: #f8a434;
    --black: #000;
    --blue: #e0dcec;
    --white: #fff;
    --red: #a83424;
}
html, body {
    margin: 0;
    font-family: "Outfit", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: var(--yellow);
    padding: 10px 75px;
    flex-wrap: wrap;
}
nav img {
    height: 100%;
}
nav a {
    text-decoration: none;
    color: var(--black);
}
nav div{
    display: flex;
    gap: 25px;
}

header {
    background-image: url("../images/hero-image.jpg");
    height: 55vh;
    padding: 50px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    background-position: top;
    margin-top: 5px;
    background-attachment: fixed;
}
header h1{
    background-color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 800;
}

section {
    padding: 50px 100px 0px 100px;
}
section h2 {
    font-size: 28px;
    margin: 0px;
}
section p {
    margin: 5px 0px;
}
.image-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    min-width: 150px;
}
.image-text img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.image-text p {
    padding: 10px
}
.food-images {
    margin: 25px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
    text-align: center;
}
.blue-bg {
    background-color: var(--blue);
    padding: 50px 100px;
}
.blue-border img{
    height: 225px;
    border: 5px solid var(--blue);
}

footer{
    padding: 25px 100px;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footer-links{
    display: flex;
    gap: 20px;
}
footer a {
    color: var(--black);
    text-decoration: none;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    section, .blue-bg {
        padding: 50px 25px;
    }
    nav {
        padding: 10px 25px;
        height: auto;
        justify-content: center;
        gap: 15px
    }
    nav img {
        height: 50px;
    }
    .food-images {
        gap: 25px;
    }
    footer {
        padding: 50px 25px;
        align-items: start;
    }
    footer p {
        margin: 0;
    }
    .footer-links {
        flex-direction: column;
    }
  }